.font-raleway {
	font-family: $font-raleway;
}

.text-normal {
	font-weight: $text-normal;
}

.text-medium {
	font-weight: $text-medium;
}

.text-regular {
	font-weight: $text-regular;
}

.text-semibold {
	font-weight: $text-semibold;
}

.text-bold {
	font-weight: $text-bold;
}
