$dark-blue: #1e213a;
$dark-gray: #6e707a;
$gray-1: #a09fb1;
$gray-2: #88869d;
$light-gray: #e7e7eb;
$pale-blue: #585676;
$very-dark-blue: #100e1d;
$white: #ffffff;
$yellow: #ffec65;
$blue: #3c47e9;

$font-raleway: 'Raleway', 'SF Pro Text', -apple-system, BlinkMacSystemFont,
	Roboto, 'Segoe UI', Helvetica, Arial, sans-serif, 'Apple Color Emoji',
	'Segoe UI Emoji', 'Segoe UI Symbol';

$text-normal: 400;
$text-medium: 500;
$text-semibold: 600;
$text-bold: 700;

$text-base: 16px;
$text-x: 3rem;
$text-l: 2rem;
$text-md: 1.5rem;
$text-s: 1rem;
