$v-dark-blue-primary: #1e213a;
$v-dark-blue-secondary: #100e1d;
$v-dark-gray: #6e707a;
$v-gray-primary: #a09fb1;
$v-gray-secondary: #88869d;
$v-gray-tertiary: #616475;
$v-light-gray: #e7e7eb;
$v-pale-blue: #585676;
$v-blue: #3c47e9;
$-white: #ffffff;
$v-white: #ffffff;
$v-yellow: #ffec65;
$-v-web-hash: #f0f2f5;
$white: #fff;

$font-raleway: 'Raleway', 'SF Pro Text', -apple-system, BlinkMacSystemFont,
	Roboto, 'Segoe UI', Helvetica, Arial, sans-serif, 'Apple Color Emoji',
	'Segoe UI Emoji', 'Segoe UI Symbol';

$text-normal: 400;
$text-medium: 500;
$text-semibold: 600;
$text-bold: 700;

$text-base: 16px;
$text-x: 48px;
$text-l: 32px;
$text-md: 24px;
$text-s: 16px;

$breakpoint: 1024px;
