:root {
	--app-bg-color: #100e1d;
	--card-bg-color: #1e213a;
	--foreground-color-1: #a09fb1;
	--foreground-color-2: #e7e7eb;
	--foreground-color-3: #ffffff;
	--foreground-color-4: #616475;
	--foreground-color-5: #88869d;
}

.__app-light-theme {
	--app-bg-color: #f0f2f5;
	--card-bg-color: #ffffff;
	--foreground-color-1: #100e1d;
	--foreground-color-2: #1e213a;
	--foreground-color-3: #ffffff;
	--foreground-color-4: #616475;
	--foreground-color-5: #88869d;
}

.__app-dark-theme {
	--app-bg-color: #100e1d;
	--card-bg-color: #1e213a;
	--foreground-color-1: #a09fb1;
	--foreground-color-2: #e7e7eb;
	--foreground-color-3: #ffffffff;
	--foreground-color-4: #616475;
	--foreground-color-5: #88869d;
}
